<div class="container mt-4">
<div>
    <h1 style="font-size:18px;font-weight: 450;">Development department At technorix system Goa</h1>
    <h1 class="a1">{{job.title}}</h1>
    <mat-icon class="icon" style="color:gray;font-size:19px" aria-label="Example home icon">assessment</mat-icon>&nbsp;
    <strong class="name">{{job.title}}</strong>&nbsp;
    <mat-icon style="color:gray;font-size:19px" aria-label="Example home icon">gps_fixed</mat-icon>&nbsp;
    <strong class="location">{{job.location.city}}</strong>&nbsp;&nbsp;
    <button mat-raised-button>FULL TIME</button><br><br>

    <a class="aply mt-3" href="{{job.hostedUrl}}" target="_blank" button mat-stroked-button
        color="primary">Apply </a>

    <hr>

    <div class="row">
        <div class="col-8 mt-3">
            <h1 style="font-weight:500;font-size: 30px;">Looking for {{job.title}}  </h1>
            <p style="color:gray;font-size:17px;">you must understand ins and outs of {{job.title}},With obession of code
                quality.We<br>
                want someone who is proud and obsessive in dilevering Quality Products.Get-it-done<br>
                attitude as an independent thinker who enjoys creating solutions in a collaborative<br> environment.
            </p>
            <h1 style="font-weight:500;font-size: 30px;">Requirements:</h1>
            <ul style="font-size: 16px;">
                <li style="font-weight:500">1+ years of ReactJS / Angular JS Experience</li>
                <li>Understand inheritance in Javascript and object oriented and functional <br>programming concepts
                </li>
                <li>Extensive experience with ReactJS, Redux</li>
                <li>Expertise with HTML5 and CSS3</li>
                <li>Comfortable translating complex visual designs into clean and <br>modular HTML markup and CSS</li>
                <li>Know how to work with version control systems.</li>
                <li>Bachelors degree in Computer Science or related technical field.</li>

            </ul>
            <h1 style="font-weight:500;font-size: 30px;">Bonus points if:</h1>
            <ul style="font-size: 16px;">
                <li>You have an advanced degree (e.g. M.Tech) in Computer Science<br> or related technical field.</li>
                <li>Knowledge of LESS/SASS, Bootstrap, PureCSS</li>
                <li>Understanding of memory management in JavaScript.</li>
                <li>Experience with Webpack, Typescript, ASP.NET, NodeJS</li>
            </ul>
        </div>
        <div class="col-4">
            <div class="card" style="width: 19rem;background-color: #eff3fb;">
                <div class="card-body">
                    <h1 class="common">OTHER JOB OPPENINGS</h1>
                    <div class="mt-3">
                        <strong class="strong ">Quality Assurance Analyst</strong><br>
                        <mat-icon style="color:gray;font-size:19px" class="icon" aria-label="Example home icon">
                            assessment</mat-icon>&nbsp;
                        <strong class="name">quality Assurance</strong>&nbsp;
                        <mat-icon style="color:gray;font-size:19px" aria-label="Example home icon">gps_fixed</mat-icon>
                        &nbsp;
                        <strong class="location">Verna,Goa</strong>&nbsp;&nbsp;
                    </div>


                    <div class="mt-3">
                        <strong class="strong ">HR Manager</strong><br>
                        <mat-icon style="color:gray;font-size:19px" class="icon" aria-label="Example home icon">
                            assessment</mat-icon>&nbsp;
                        <strong class="name">Human Resources</strong>&nbsp;
                        <mat-icon style="color:gray;font-size:19px" aria-label="Example home icon">gps_fixed</mat-icon>
                        &nbsp;
                        <strong class="location">Verna,Goa</strong>&nbsp;&nbsp;
                    </div>


                    <div class="mt-3">
                        <strong class="strong ">Project Manager</strong><br>
                        <mat-icon style="color:gray;font-size:19px" class="icon" aria-label="Example home icon">
                            assessment</mat-icon>&nbsp;
                        <strong class="name">Human Resources</strong>&nbsp;
                        <mat-icon style="color:gray;font-size:19px" aria-label="Example home icon">gps_fixed</mat-icon>
                        &nbsp;
                        <strong class="location">Verna,Goa</strong>&nbsp;&nbsp;
                    </div>



                    <div class="mt-3">
                        <strong class="strong">Technical Lead-.NET/React JS</strong><br>
                        <mat-icon style="color:gray;font-size:19px" class="icon" aria-label="Example home icon">
                            assessment</mat-icon>&nbsp;
                        <strong class="name">Development</strong>&nbsp;
                        <mat-icon style="color:gray;font-size:19px;margin-left:35px;" aria-label="Example home icon">
                            gps_fixed</mat-icon>&nbsp;
                        <strong class="location">Verna,Goa</strong>&nbsp;&nbsp;
                    </div>



                </div>

            </div>


            <h1 class="common mt-3">SHARE JOB OPPENINGS</h1>



            <ul class="icons ">
                <li> <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i> </a> </li>
                <li> <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
                <li> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
            </ul>




        </div>

    </div>



<!-- <pre>{{job.description|json}}</pre> -->



<!-- <div id=job-overview>
    <h4></h4>
    <p  style="color:gray;font-size:17px;">{{job.description}}</p>
    
</div>  -->